{% extends 'baseTemplate.html' %}

{% block head %}
<title>Spotify → Youtube Converter</title>
{% endblock %}

{% block body %}
<div>
    Select tracks to convert:
</div>
<br>
<table>
  <tr>
    <th></th>
    <th></th>
    <th>Tracks:</th>
  </tr>
  <form action="/YoutubeLogin" method="POST">
    {% for block in playlistInfoArray %}
      {% for track in block['items'] %}
      <tr>
          <td><input type="checkbox" name="tracks" value="{{ track['track']['id'] }}" checked/></td>
          <td>
              <img src = "{{ track['track']['album']['images'][2]['url'] }}">
          </td>
          <td>{{ track['track']['name'] }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</table>
{% endblock %}