{% extends 'baseTemplate.html' %}

{% block head %}
<title>Spotify → Youtube Converter</title>
{% endblock %}

{% block body %}
<div>
    Select playlist(s) to convert:
</div>
<br>
<table>
  <tr>
    <th></th>
    <th></th>
    <th>Playlists</th>
  </tr>
  <form action="/SpotifyAuthed" method="POST">
    {% for playlistItem in playlists %}
    <tr>
        <td><input type="radio" name="playlist" value="{{ playlistItem['id'] }}"/></td>
        <td>
            <img src = "{{ playlistItem['images'][2]['url'] }}">
        </td>
        <td>{{ playlistItem['name'] }}</td>
    </tr>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</table>
{% endblock %}